#money {
    float: right;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: blueviolet;
    border-bottom: 2px solid;
}

#marker {
    width: 650px;
    margin: 0 auto;
    height: 100px;
    margin-top: 60px;
}
#valut {
    padding-left: 5px;
    width: 215px;
    outline: none;
    border: 1px solid;
    background: #fff;
    color: blueviolet;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
#convert {
    width: 650px;
    margin: 0 auto;
    height: 100px;
}
#infoResult {
    float: right;
}
#infoInput {
    width: 300px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: blueviolet;
    border-bottom: 2px solid;
}
#convertInp {
    width: 215px;
    padding-left: 5px;
    outline: none;
    border: 1px solid blueviolet;
    background: #fff;
    color: red;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
}

#resulButton {
    height: 40px;
    border: 1px solid;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    color: blueviolet;
}
#infoResult {
    font-size: 18px;
    color: red;
    font-weight: bold;
    width: 205px;
    margin-top: -45px;
    border-bottom: 2px solid;
}
#result {
    float: right;
    color: red;
    font-size: 18px;
    font-weight: bold;
}